<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antargroup.tubanantar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Activation" />
        <activity android:name=".adapter.AdapterMainMenu" />
        <activity android:name=".pager.OrderOjek" />
        <activity android:name=".pager.Login" />
        <activity android:name=".pager.Register" />
        <activity android:name=".pager.OrderOjekDetail" />
        <activity android:name=".pager.AcceptingDriver" />
        <activity android:name=".pager.Restaurant" />
        <activity android:name=".pager.MenuResto" />
        <activity android:name=".pager.foodResto" />
        <activity android:name=".pager.OrderFood" />
        <activity android:name=".pager.Riwayat" />
        <activity android:name=".adapter.AdapterRiwayat" />
        <activity android:name=".pager.RiwayatDetailOjek" />
        <activity android:name=".pager.Saldo" />
        <activity android:name=".pager.Topup" />
        <activity android:name=".pager.Setting" />
        <activity android:name=".adapter.AdapterSetting" />
        <activity android:name=".pager.RiwayatProgress" />
        <activity android:name=".pager.RiwayatSelesai"></activity>
    </application>

</manifest>